.Adout_us {
  display: flex;
  flex-direction: column;
  position: relative;
}

.info_block {
  padding: 8vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #e7ebfc;

  h1 {
    font-size: 64px;
    color: #000000;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.16px;
  }

  span {
    font-size: 20px;
    font-weight: 400;
    color: #64626a;
    line-height: 28px;
    letter-spacing: 0.1px;
  }
}

.contact_links {
  display: flex;
  gap: 30px;
  padding-top: 7vw;

  span {
    padding: 15px;
    width: 10vw;
    height: 2.5vw;
    background-color: #ffffff;
    border: solid 1px #2e4fd7;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.17px;
    color: #2e4fd7;
    transition: 0.2s;
    line-height: 1.5;

    &:hover {
      background-color: #2e4fd7;
      color: #ffffff;
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  padding: 2vw 8vw;
  padding-bottom: 6vw;
}

.form_block {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: solid 2px #b4b4b4;
  padding: 20px;
  width: 25vw;
  height: 40vw;
  position: absolute;
  background-color: #ffffff;
  right: 8vw;
  top: 8vw;

  h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 100%;
    color: #000000;
    letter-spacing: 0px;
  }

  span {
    font-size: 18px;
    font-weight: 400;
    color: #64626a;
    line-height: 30px;
    letter-spacing: 0.2px;
  }

  button{
    padding: 15px;
    background-color: #2e4fd7;
    border: none;
    color: #ffffff;
    transition: 0.2s;

    &:hover{
        background-color: #46BA71;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    border: none;
    border: solid 2px #b4b4b4;
    padding: 12px;
    width: 10vw;
    height: 1.5vw;
  }

  input::placeholder {
    color: #B3B1B7;
  }
}

.name {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.2px;
  }

  span {
    color: #2e4fd7;
  }
}

.row_2{
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    border: none;
    border: solid 2px #b4b4b4;
    padding: 12px;
    width: 23.2vw;
    height: 1.5vw;
  }

  input::placeholder {
    color: #B3B1B7;
  }
}

.row_3{
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    border: none;
    border: solid 2px #b4b4b4;
    padding: 12px;
    width: 23.2vw;
    height: 1.5vw;
    padding-bottom: 4.5vw;
  }

  input::placeholder {
    color: #B3B1B7;
  }
}


