
.Success{
    padding: 8vw;
}

.container{
    display: flex;
    background-color: #E7EBFC;
    padding: 8vw;
    padding-right: 0;
    justify-content: space-between;
}

.contai_title{
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1{
        font-size: 42px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: -0.76px;
        color: #191919;
    }

    span{
        font-size: 42px;
        font-weight: 400;
        line-height: 52px;
        letter-spacing: -0.76px;
        color: #1E1E1E;
    }
}

.contai_spon{
    display: flex;
    flex-direction: column;

    a{
        font-size: 16px;
        font-weight: 600;
        color: #2E4FD7;
        text-decoration: none;
        line-height: 26px;
        letter-spacing: -0.29px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.Sp{
    width: 8vw;
}

.contai_cnopi{
    display: flex;
    align-items: center;
    gap: 5px;
}

.cnop{
    width: 6px;
    height: 6px;
    background-color: #B4B4B4;
    border-radius: 30px;
    transition: 0.3s;

    &:hover{
        background-color: #2E4FD7;
    }
}
