.Cart_2 {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 8vw;

  h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.76px;
    color: #18191f;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: -6px;

  h3{
    color: #18191F;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.43px;
    padding: 2px;
  }

  span{
    color: #18191F;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.29px;
  }
}

.contai_div_hr {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;

  hr {
    width: 183px;
    height: 0;
    border-bottom: 2px dashed rgba(46, 79, 215, 0.4); 
    border-bottom-style: dashed;
    border-bottom-color: rgba(46, 79, 215, 0.4);
    border-bottom-width: 2px;
    border-image: repeating-linear-gradient(
        to right,
        rgba(46, 79, 215, 0.4) 0 2px,
        transparent 2px 10px
      )
      1;
  }
}

.cnop {
  width: 24px;
  height: 24px;
  border-radius: 30px;
  background-color: #2e4fd7;
}


