
.Foter_title{
    padding: 8vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #E7EBFC;
    align-items: center;
    justify-content: center;


    h1{
        font-size: 52px;
        font-weight: 700;
        color: #191919;
        line-height: 62px;
        letter-spacing: -0.94px;
        text-align: center;
    }

    span{
        font-size: 18px;
        font-weight: 400;
        color: #1E1E1E;
        line-height: 28px;
        letter-spacing: -0.32px;
        text-align: center;
    }

    a{
        text-decoration: none;
    }

    button{
        padding: 15px 20px;
        background-color: #2E4FD7;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 10px;
        border: none;
        color: #FFFFFF;
        transition: 0.3s;

        &:hover{
            background-color: #46BA71;
        }
    }

    hr{
        border: none;
        border: solid 2px #B4B4B4;
        width: 1110px;
    }
}

.container{
    display: flex;
    gap: 40px;
    padding-top: 20px;
}
